<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %X{correlationId} --- [%15.15t] %highlight(%-40.40logger{39}) : %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.openeid.cdoc4j" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>